<div class="container">

<h1>List products</h1>
<%= link_to 'Add new Product', new_product_path , class: 'btn btn-primary btn-sm' %>
<% if flash[:notice] %>
  <div class="alert alert-success notice-toast">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger alert-toast">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="table-container">
  <table  class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>SKU</th>
        <th>Season</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr class="clickable-row align-middle" style="" onclick="window.location='<%= product_path(product) %>'">
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= product.sku %></td>
          <td><%= product.is_seasonal ? 'Yes' : 'Not' %></td>
          <td><%= product.quantity %></td>
          <td><%= product.category.name %></td>
        <td>
        <% if product.image.attached? %>
          <%= image_tag url_for(product.image), alt: product.image.filename.to_s, class: 'img-thumbnail', style: 'max-width: 100px; max-height: 100px;' %>
        <% else %>
          <span>Empty Image</span>
        <% end %>
      </td>
        <td>
          <div class="d-flex">
            <%= link_to "Edit", edit_product_path(product), class: 'btn btn-primary btn-sm' %>
            <%= button_to 'Delete', product_path(product), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>