<div class="container">
  <h1>New Producto</h1>
  <%= form_with(model: @product, local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
    <% if @product.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading"><%= pluralize(@product.errors.count, "error") %></h4>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="row">
    <div class="col-md-6">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, step: '0.01', min: '0', placeholder: '0.00', class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= form.label :sku, class: 'form-label' %>
      <%= form.text_field :sku, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= form.label :image, class: 'form-label' %>
      <%= form.file_field :image, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= form.label :quantity, class: 'form-label' %>
      <%= form.number_field :quantity, class: 'form-control' %>
    </div>
  <div class="col-md-6">
      <%= form.label :unit, class: 'form-label' %>
      <%= form.select :unit, options_for_select([['Grams'], ['Kilos'], ['Pieces']], @product.unit), { prompt: 'Select a unit' }, class: 'form-select' %>
    </div>
    <div class="col-md-6">
      <%= form.label :category_id, class: 'form-label' %>
      <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: 'Select a category' }, class: 'form-select' %>
    </div>
    <div class=" col-md-6 d-flex flex-column justify-content-center align-items-center">
      <%= form.label :is_seasonal, class: 'form-check-label' %>
      <%= form.check_box :is_seasonal, class: 'form-check-input' %>
    </div>
  </div>
  <br>
  <div class="mb-3">
    <%= form.submit 'Create Product', class: 'btn btn-primary' %>
    <%= link_to 'Back to Products', products_path, class: 'btn btn-secondary' %>
  </div>
  <% end %>
</div>